<div class="span3">
    <h2>Sign In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form'}) do |f| %>
      <label>Email Address</label>
      <%= f.email_field :email, :class => "span3", autofocus: true, autocomplete: "off" %>
      <label>Password</label>
      <%= f.password_field :password, :class => "span3", autocomplete: "off" %>
      <%= f.submit "Sign In", :class => "btn btn-primary pull-right", data: { disable_with: 'Processing...' } %>
      <div class="clearfix"></div>
    <% end %>
</div>
<%= render "devise/shared/links" %>
